### Regression Exercise 
# Moneyball The NBA
---

### This HW is not easy. TRY IT YOURSELF FIRST! 
Then If you are able to complete it, [watch this lecture series on it](https://ocw.mit.edu/courses/15-071-the-analytics-edge-spring-2017/pages/linear-regression/playing-moneyball-in-the-nba-recitation/video-1-the-data/).

In [2]:
# PANDAS IS FOR DATA WRANGLING
import pandas as pd
import numpy as np

# SEABORN IS A PLOTTING LIBRARY
import seaborn as sns

# MATPLOT LIB IS ALSO A PLOTTING LIBRARY
import matplotlib.pyplot as plt

# SKLEARN IS OUR MACHINE LEARNING PACKAGE
from sklearn.linear_model import LinearRegression

# IMPORT OUR RANDOM FOREST REGERSSOR
from sklearn.ensemble import RandomForestRegressor

# METRICS HELP US SCORE OUR MODEL
from sklearn import metrics

# HELP US SPLIT OUR DATA INTO TESTING A TRAINING
from sklearn.model_selection import train_test_split

# Good ol statsmodels
import statsmodels.api as sm

# Specific root mean squared error for stats models
from statsmodels.tools.eval_measures import rmse


from statsmodels.stats.outliers_influence import variance_inflation_factor


from statsmodels.api import qqplot

import CTPLIB as ctp

# Remember our main steps motto _isbe_.
1. i - Inspect and explore data.
2. s - Select and engineer features.
3. b - Build and train model.
4. e - Evaluate model.

# STEP 1 (i): Inspect and explore data
1. Use `data/NBA_test.csv and data/NBA_train.csv`

In [3]:
# READ IN THE DATA USING PANDAS 
df = pd.read_csv('data/NBA_train.csv')


# DISPLAY THE FIRST 5 ROWS
df.head()

,SeasonEnd,Team,Playoffs,W,PTS,oppPTS,FG,FGA,2P,2PA,3P,3PA,FT,FTA,ORB,DRB,AST,STL,BLK,TOV
0,1980,Atlanta Hawks,1,50,8573,8334,3261,7027,3248,6952,13,75,2038,2645,1369,2406,1913,782,539,1495
1,1980,Boston Celtics,1,61,9303,8664,3617,7387,3455,6965,162,422,1907,2449,1227,2457,2198,809,308,1539
2,1980,Chicago Bulls,0,30,8813,9035,3362,6943,3292,6668,70,275,2019,2592,1115,2465,2152,704,392,1684
3,1980,Cleveland Cavaliers,0,37,9360,9332,3811,8041,3775,7854,36,187,1702,2205,1307,2381,2108,764,342,1370
4,1980,Denver Nuggets,0,30,8878,9240,3462,7470,3379,7215,83,255,1871,2539,1311,2524,2079,746,404,1533

```
SeasonEnd: Year season ended
Team: Name of team
Playoffs: If they made the playoffs. 1 == made to playoffs
W: Number of regular season in that season. 
PTS: Points scored in regular season. 
oppPTS: Opponent Points scored in regular season. 
FG: Field Goals made (total shots made == 2P and 3P combined)
FGA: Field Goals attempted (total shots attempted == 2P and 3P combined)
2P: two-pointers made
2PA: two-pointers attempted
3P: three-pointers made
3PA: three-pointers attempted
FT: Free-Throws made (not included in FG stat)
FTA: Free-Throws attempted (not included in FG stat)
ORB: Offensive Rebounds
DRB: Defensive Rebounds
AST: Assists made
STL: Steals 
BLK: Blocks 
TOV: Turnovers 
```

#### Inspect our data using `df.describe()` function.

In [4]:
# Inspect our data using `df.describe()` function.
df.describe

<bound method NDFrame.describe of      SeasonEnd                 Team  Playoffs   W   PTS  oppPTS    FG   FGA  \
0         1980        Atlanta Hawks         1  50  8573    8334  3261  7027
1         1980       Boston Celtics         1  61  9303    8664  3617  7387
2         1980        Chicago Bulls         0  30  8813    9035  3362  6943
3         1980  Cleveland Cavaliers         0  37  9360    9332  3811  8041
4         1980       Denver Nuggets         0  30  8878    9240  3462  7470
..         ...                  ...       ...  ..   ...     ...   ...   ...
830       2011     Sacramento Kings         0  24  8151    8589  3134  6979
831       2011    San Antonio Spurs         1  61  8502    8034  3148  6628
832       2011      Toronto Raptors         0  22  8124    8639  3144  6755
833       2011            Utah Jazz         0  39  8153    8303  3064  6590
834       2011   Washington Wizards         0  23  7977    8584  3048  6888

       2P   2PA   3P   3PA    FT   FTA   ORB   DRB   AST  STL  BLK   TOV
0    3248  6952   13    75  2038  2645  1369  2406  1913  782  539  1495
1    3455  6965  162   422  1907  2449  1227  2457  2198  809  308  1539
2    3292  6668   70   275  2019  2592  1115  2465  2152  704  392  1684
3    3775  7854   36   187  1702  2205  1307  2381  2108  764  342  1370
4    3379  7215   83   255  1871  2539  1311  2524  2079  746  404  1533
..    ...   ...  ...   ...   ...   ...   ...   ...   ...  ...  ...   ...
830  2706  5702  428  1277  1455  1981  1071  2526  1675  608  391  1324
831  2463  4901  685  1727  1521  1984   829  2603  1836  602  372  1101
832  2799  5664  345  1091  1491  1976   963  2343  1795  581  350  1206
833  2629  5334  435  1256  1590  2061   898  2338  1921  629  484  1175
834  2656  5706  392  1182  1489  1999  1013  2374  1592  665  502  1258

[835 rows x 20 columns]>

#### Check for Nulls.

In [8]:
# Check for Nulls.
df.isna().sum()

SeasonEnd    0
Team         0
Playoffs     0
W            0
PTS          0
oppPTS       0
FG           0
FGA          0
2P           0
2PA          0
3P           0
3PA          0
FT           0
FTA          0
ORB          0
DRB          0
AST          0
STL          0
BLK          0
TOV          0
dtype: int64

#### Check for Duplicates

In [12]:
# Check for Duplicates
df.duplicated().any()

False

#### Build a function that will INSPECT ANY DATAFRAME FOR YOU do this for you for any data frame you pass into it.

In [16]:
def inspect_dataframe(input_df):
    inspection_report = {}
    
    
    inspection_report["Shape"] = input_df.shape
    
    
    inspection_report["Data Types"] = input_df.dtypes
    
    
    inspection_report["Null Values"] = input_df.isna().sum()
    
    
    inspection_report["Duplicate Rows"] = input_df.duplicated().sum()
    
    
    inspection_report["Descriptive Statistics"] = input_df.describe()
    
    
    inspection_report["Preview (First 5 Rows)"] = input_df.head()
    
    return inspection_report


result = inspect_dataframe(df)
print(result)

{'Shape': (835, 20), 'Data Types': SeasonEnd     int64
Team         object
Playoffs      int64
W             int64
PTS           int64
oppPTS        int64
FG            int64
FGA           int64
2P            int64
2PA           int64
3P            int64
3PA           int64
FT            int64
FTA           int64
ORB           int64
DRB           int64
AST           int64
STL           int64
BLK           int64
TOV           int64
dtype: object, 'Null Values': SeasonEnd    0
Team         0
Playoffs     0
W            0
PTS          0
oppPTS       0
FG           0
FGA          0
2P           0
2PA          0
3P           0
3PA          0
FT           0
FTA          0
ORB          0
DRB          0
AST          0
STL          0
BLK          0
TOV          0
dtype: int64, 'Duplicate Rows': 0, 'Descriptive Statistics':          SeasonEnd    Playoffs           W           PTS        oppPTS  \
count   835.000000  835.000000  835.000000    835.000000    835.000000
mean   1996.319760    0.574850   41.000000   8370.239521   8370.239521
std       9.243808    0.494662   12.740822    581.040114    587.543959
min    1980.000000    0.000000   11.000000   6901.000000   6909.000000
25%    1989.000000    0.000000   31.000000   7934.000000   7934.000000
50%    1996.000000    1.000000   42.000000   8312.000000   8365.000000
75%    2005.000000    1.000000   50.500000   8784.500000   8768.500000
max    2011.000000    1.000000   72.000000  10371.000000  10723.000000

                FG          FGA           2P          2PA          3P  \
count   835.000000   835.000000   835.000000   835.000000  835.000000
mean   3200.367665  6873.318563  2881.324551  5956.444311  319.043114
std     287.181266   401.027166   446.097941   830.596327  199.698941
min    2565.000000  5972.000000  1981.000000  4153.000000   10.000000
25%    2974.000000  6563.500000  2510.000000  5269.000000  131.500000
50%    3150.000000  6831.000000  2718.000000  5706.000000  329.000000
75%    3434.500000  7157.000000  3296.000000  6753.500000  481.500000
max    3980.000000  8868.000000  3954.000000  7873.000000  841.000000

               3PA           FT          FTA          ORB          DRB  \
count   835.000000   835.000000   835.000000   835.000000   835.000000
mean    916.874251  1650.461078  2189.953293  1061.584431  2427.354491
std     523.982964   197.651728   244.491086   150.224519   130.671523
min      75.000000  1189.000000  1475.000000   639.000000  2044.000000
25%     413.000000  1502.500000  2008.000000   953.500000  2346.500000
50%     942.000000  1628.000000  2176.000000  1055.000000  2433.000000
75%    1347.500000  1781.000000  2352.000000  1167.000000  2516.500000
max    2284.000000  2388.000000  3051.000000  1520.000000  2753.000000

               AST          STL         BLK          TOV
count   835.000000   835.000000  835.000000   835.000000
mean   1912.112575   668.364072  419.805988  1302.837126
std     221.610925    93.393044   82.274913   153.973470
min    1423.000000   455.000000  204.000000   931.000000
25%    1735.000000   599.000000  359.000000  1192.000000
50%    1899.000000   658.000000  410.000000  1289.000000
75%    2077.500000   729.000000  469.500000  1395.500000
max    2575.000000  1053.000000  716.000000  1873.000000  , 'Preview (First 5 Rows)':    SeasonEnd                 Team  Playoffs   W   PTS  oppPTS    FG   FGA  \
0       1980        Atlanta Hawks         1  50  8573    8334  3261  7027
1       1980       Boston Celtics         1  61  9303    8664  3617  7387
2       1980        Chicago Bulls         0  30  8813    9035  3362  6943
3       1980  Cleveland Cavaliers         0  37  9360    9332  3811  8041
4       1980       Denver Nuggets         0  30  8878    9240  3462  7470

     2P   2PA   3P  3PA    FT   FTA   ORB   DRB   AST  STL  BLK   TOV
0  3248  6952   13   75  2038  2645  1369  2406  1913  782  539  1495
1  3455  6965  162  422  1907  2449  1227  2457  2198  809  308  1539
2  3292  6668   70  275  2019  2592  1115  2465  2152  704  392  1684
3  3775  7854   36  187  1702  2205  1307  2381  2108  764  342  1370
4  3379  7215   83  255  1871  2539  1311  2524  2079  746  404  1533  }

#### Get a sense of how many wins it will take to make the playoffs. 
Make a scatter plot with x=Wins and the y=Team, and the hue=Playoffs

#### Take a rough estimate, and now use that moving forward.

In [90]:
WINS_NEED_TO_MAKE_PLAYOFFS = ???

---

# Now do moneyball but for the NBA. 

#### I would like you to do try and do this on your own first.  

It's not easy, but its fun af.  

There is a guided lecture on how to do this that I can send you, but I'd like for you to try and figure it out on your own first.  

If you are fully stuck, ask in slack how other people did it if that doesn't work (I highly encourage collorbration and learning from eachother.  I still consider that doing it on your own.)  

If that doesn't work, DM me and I will send you the lectures explaining how to do the whole thing.

# Rough Guide a v1 model.
0. Make a model to predict PTS 
0. For v1, dont use `2P, 3P, FG, or FT`.  Instead use `2PA, 3PA, FTA`.  
0. Include any other cols use see fit.